/* POPUP MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.modal-content {
    background: #fff;
    width: 350px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
}

.modal-content h3 {
    margin-bottom: 15px;
}

.modal-content input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}

.modal-content button {
    background: #2874f0;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.close {
    float: right;
    font-size: 22px;
    cursor: pointer;
}
