body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f1f3f6;
}

.navbar {
    background: #2874f0;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

.title {
    text-align: center;
    margin: 25px 0;
}

.container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card {
    background: white;
    width: 260px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: contain;
}

.price {
    color: green;
    font-size: 18px;
    font-weight: bold;
}

button {
    background: #fb641b;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
