body {
    background: #f4f4f4;
    font-family: Arial;
}

.login-box {
    width: 300px;
    margin: 150px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #aaa;
}

.login-box h2 {
    text-align: center;
}

.login-box input, button {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
}
